<!DOCTYPE html>
<html lang="en">
<head>
	<title>Multilingual Tweeter</title>
	<!-- external style sheets -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
	<!-- fonts -->
 	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
 	<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
 	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 	<!-- customized css -->
  	<link rel="stylesheet" href="style.css">
</head>
<body>
<main>
	<h1>Multilingual Twitter</h1>
	<a href="/app">Go to App</a>
</main>

 <!--    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script> -->
    <script src="/client.js"></script>

<!-- scripts -->

<!-- <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->


</body>
</html>
