// colors
$blue: #03A9F4;
$gray: #ededed;
$dgray: #1d1f1f;
$coral: #E63663;
$jade: #4CAF50;
$teal: #2ebcbc;
$maincolor: $teal;
* {
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

html {
    min-height: 100%;
    position: relative;
    margin-top: 100px;
}

body {
    background-color: $gray;
}

a:link,
a {
    color: $maincolor;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
}

.tools {
    padding: 20px;
    text-align: center;
}


/* header */

header {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 50%;
    top: -50px;
    margin-bottom: 40px;
}

h1 a:link {
    color: $maincolor;
    font-family: Arial, serif;
    width: 100%;
    margin: 0;
    padding: 0 5%;
    font-size: 1.5em;
}

.subtitle {
    color: $dgray;
    font-size: 1.5em;
    margin: 2%;
}


/* form */

.instructions p {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 5%;
}

.search-form {
    padding: 20px;
    text-align: center;
}

.submit-button {
    cursor: pointer;
    font-size: 1.2em;
    padding: 10px;
    text-align: center;
    border-radius: 2px;
    border: none;
    background-color: $dgray;
    color: #FFF;
    font-weight: bold;
    &:hover {
        color: $maincolor;
    }
}

input[type="text"],
#limitTweeterItems {
    padding: 10px;
    border-radius: 2px;
    border: 2px solid $dgray;
    width: 40%;
    font-size: 30px;
}

#limitTweeterItems {
    width: 10%;
    font-size: 30px;
    padding: 10px;
}


/** TWEET LIST **/

.tweet-list {
    width: 80%;
    margin: 10px auto;
    border-radius: 3px;
    background-color: $dgray;
    padding: 5px;
}

.individual-tweets {
    margin: 5px;
    padding: 10px;
    border: 1px solid $gray;
    border-radius: 2px;
    background-color: #FFF;
    z-index: -100;
}

img.avatar {
    display: inline-block;
    border-radius: 5px;
    padding: 3px;
    width: 60px;
    height: 60px;
    margin-right: 5px;
}

span.authorName,
span.authorHandle,
span.timestamp {
    position: relative;
    top: -5px;
}

span.authorName {
    font-size: 1.3em;
    font-weight: bold;
}

span.authorHandle {
    color: #494F4F;
}

.timestamp {
    color: $dgray;
    font-size: 12px;
    margin-left: 10px;
}

.action {
    margin-right: 10px;
}


/* DROPDOWN MENU */

.dropbtn {
    background-color: $maincolor;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 400px;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 120px;
}


/* Links inside the dropdown */

.dropdown-content option {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content option:hover {
    background-color: #f1f1f1;
    color: $dgray;
    cursor: pointer;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
    background-color: $maincolor;
}

.language-choice {
    display: none;
    padding: 16px;
    margin: 0 auto;
    font-size: 16px;
    border: none;
    width: 400px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.twitter-share-button {
    cursor: pointer;
}

.sr-only {
    font-size: 1.5em;
    text-align: center;
}


/** OTHER STYLES **/

.hidden {
    display: none;
}

.fa {
    font-size: 2em;
    color: $maincolor;
}


/** index **/

.enter-app {
    border: none;
    background: $dgray;
    padding: 10px;
    margin: 5% auto;
    width: 30%;
    color: white;
    font-size: 2em;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    &:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        background-color: $maincolor;
    }
}

.main-content {
    text-align: center;
    margin: 200px auto 80px auto;
}

nav {
    text-align: center;
    width: 100%;
    background: $dgray;
    position: fixed;
    top: 0;
}

.front-img {
    width: 50%;
    margin: 10px auto;
    border: 2px solid gray;
}


/** material design box shadows by samuel thornton https://codepen.io/sdthornton/pen/wBZdXq **/

.app-detail {
    display: block;
    width: 70%;
    height: 200px;
    margin: 20px auto 50px auto;
    // border: 1px solid $dgray;
    padding: 10px;
}

#wait {
    margin: 10px auto;
    font-size: 1.5em;
    text-align: center;
}


/** FOOTER **/

footer {
    font-size: 1.2em;
    text-align: center;
    height: 60px;
    background-color: $dgray;
    color: $maincolor;
    width: 100%;
    padding: 20px;
    position: relative;
    bottom: -300px;
}


/** MEDIA QUERIES **/

@media (max-width: 900px) {
    input[type="text"],
    #limitTweeterItems {
        font-size: 16px;
    }
    #limitTweeterItems {
        width: 60px;
    }
    #twitter-keyword-entry {
        width: 300px;
    }
    section.search-form {
        margin-top: 80px;
    }
}

@media (max-width: 600px) {
    input[type="text"],
    #limitTweeterItems {
        font-size: 14px;
    }
}